In [ ]:
import pandas as pd

file_path = "./student_depression_dataset.csv"

df = pd.read_csv(file_path)


display(df)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,'5-6 hours',Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',Healthy,BCA,Yes,2.0,3.0,Yes,1

In [11]:
from privacyFuncs import (
  k_anonymity,
  distinct_l_diversity,
)

In [13]:
qID = ['Gender', 'Age', 'City']

k, grouped = k_anonymity(df, qID)
print(k)
display(grouped)

1

      Gender   Age       City  count
0     Female  18.0       Agra     17
1     Female  18.0  Ahmedabad     21
2     Female  18.0  Bangalore     22
3     Female  18.0     Bhopal     20
4     Female  18.0    Chennai     30
...      ...   ...        ...    ...
1088    Male  43.0     Rajkot      1
1089    Male  46.0     Nashik      1
1090    Male  49.0     Nagpur      1
1091    Male  54.0       Agra      1
1092    Male  59.0     Nashik      1

[1093 rows x 4 columns]

In [22]:
# In this dataset there are 71 rows that are unique identifiers
for i in range(1, 10):
  print(grouped['count'].loc[grouped['count'] == i].count())

71
2
1
5
4
6
12
19
17

In [ ]:
df.drop(
  df[(df['Age'] == grouped['Age'])]
)